# Секретные данные
.env

# База данных
*.db
*.db-journal

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
